* {
	margin: 0;
	padding: 0;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;	
	-box-sizing:border-box;
}

body{
	font-family: 'PT Serif', serif;
	background-color: white;
}






 h1{
 	font-family: 'PT Serif', serif;
 	color:black;
 	margin-top:2%;
 	background-position: center;
 	font-size: 25px;
 	
  }

  .uno{
  	font-family: 'PT Serif', serif;
  	color: black;
  	margin-top:70px;
  	float: left;
  	margin-left: 15px;
  	font-size: 30px;
 }  

 .button{
 	width: 50px;
 }



footer .contenedor {
    margin-top: 18%; 
	height: 50%;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 25px;
 }

@media (min-width: 768px){ /* medida tablet*/
	   .redes-sociales {
	   	width: auto;
	   }

	   footer .contenedor{

	   	justify-content: space-between;
	   }
}
@media (min-width:1024px){
	.ocultar-menu{
		display: none;
	}
	.contenedor{
		width: 1000px;
	}
}